@import url(http://fonts.googleapis.com/css?family=Open+Sans:200,400,700);

@import 'config';

@import 'globals';
@import 'forms';

body {
    font-family: 'Open Sans', Helvetica Neue, Helvetica, sans-serif;
    background: #ffffff;
    color: $dark-text;
    font-size: 14px;
    min-width: 700px;
    min-height: 400px;

    @import 'header';
    @import 'components/autocomplete';
    @import 'views/_About';
    @import 'views/_AllOverrides';
    @import 'views/_AddOverride';
    @import 'views/_EditOverride';
    @import 'views/ImportExport';
}