#sidebar .button {
    background: #1EBAA5 url(../images/file-zip.png) 10px center no-repeat;
    border-radius: 10px;
    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.3);
    cursor: pointer;
    color: white;
    width: 150px;
    background-size: 45px;
}
#sidebar .button.chrome-store {
    background-image: url(../images/chrome-web-store.png);
}
body > header a.button {
    color: white;
}

@media only screen and (max-width: 767px) {
    header a.button {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

#main-content code {
    padding: 3px;
}

body > header {
    background: #1EBAA5;
    position: relative;
}
body > header:before {
    content: '';
    background: url(../images/grid.png) center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

body > header > div > h2 {
    color: rgba(255, 255, 255, 0.7);
}

#main-content > h1:before {
    color: #1EBAA5;
}

a, a:visited, a:link {
    color: #1EBAA5;
}
a:hover, a:active {
    color: #1a7a67;
}